/* Colors
-----------------------------------------------------------------------------*/
$c_mainbg: #000;
$c_lsidebar: $c_mainbg;
$c_rsidebar: $c_mainbg;
$c_headerbg: $c_mainbg;
$c_footerbg: $c_mainbg;
$c_tabsbg: $c_mainbg;

$c_mainfg: #ddd;
$c_maindimfg: #888;
$c_darkgray: #333;

/* money */
$c_moneysymbol: #29b516;
$c_moneybg: #082a02;
$c_moneybuy: #1a8a09;
$c_moneyhover: #29b516;
/* */
$c_moneydivider: #1a8a09;
/*  knowledge */
$c_knowledgesymbol: #b55b16;
$c_knowledgebg: #030d2f;
// $c_knowledgebuy: #09298F;
$c_knowledgebuy: #163bb5;
$c_knowledgehover: #4d4dff;
/* prestige */
$c_prestigesymbol: #b51629;
$c_featurebg: #3d070d;
$c_featurebuy: #b51629;
$c_featurehover: #EE102A;
/* tabs */
$c_taboff: #0f0f56;
$c_tabon: #4d4dff;

// $c_mywhite: #ddd;
// $c_mydimwhite: #888;
$c_neonblue: #4d4dff;
$c_neongreen: #49fb35;

$c_concentrate: #082a02;
$c_concentrate_lite: #29b516;

$c_switchoff: #b51629;
$c_switchon: #1a8a09;

$c_selected: #b51629;
$c_countdownfg: #b51629;
$c_countdownbg: #710e1a;
$c_scrollbg: #082a02;
$c_scrollfg: #1a8a09;

$c_goldglow: #fadf98;
// $c_announcebg: #FFD700;
$c_announcebg: rgba(255, 215, 0, 0.6);
