// #concentrateButton {
//   width: 135px;
//   height: 80px;
//   margin: 10px auto 10px auto;
//   display: block;
//   background: $c_concentrate;
//   color: $c_mainfg;
//   border: 1px solid $c_concentrate;
//   border-radius: 50%;
//   font-weight: bold;
//   font-size: 18px;
// }

#concentrate-container {
  width: 200px;
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#concentrateButton {
  position: relative;
  display: block;
  width: 65%;
  // width: 135px;
  height: 60px;
  margin: 10px auto 10px auto;
  // box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: $c_mainfg;
  text-decoration: none;
  border-radius: 35px;
  outline: none;
  cursor: pointer;

  background: linear-gradient($c_neongreen, #000);
  border: 1px solid #579a00;
  box-shadow: inset 0 2px 2px $c_neongreen, inset 1px 0 3px #b2dc2d,
    inset -1px 0 3px #b2dc2d, inset 0 -2px 2px $c_concentrate,
    0 0 3px rgba(0, 0, 0, 0.24);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, -3px 3px 3px #333;

  transform: translate3d(0, 0, 0);

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#concentrateButton:hover {
  background: linear-gradient($c_neongreen, $c_concentrate);
}

#concentrateButton.concActive,
#concentrateButton:active {
  font-size: 24px;
  cursor: not-allowed;

  background: none;
  box-shadow: inset 3px 3px 10px $c_moneybg;
  color: $c_neongreen;

  animation: concPulse 2s ease infinite, concShake 1s linear infinite;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

#concentrateButton.concCooldown {
  cursor: not-allowed;

  background: none;
  background-color: $c_concentrate_lite;
  box-shadow: inset 3px 3px 10px $c_moneybg;
  // padding: 1px 0 0 1px;
  color: $c_maindimfg;
  // text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
  //   1px 1px 0 #333, -3px 3px 3px #333;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@keyframes concPulse {
  0%,
  30%,
  70%,
  100% {
    background-color: $c_neongreen;
  }
  50% {
    background-color: $c_concentrate_lite;
  }
}

@keyframes concShake {
  0%,
  40%,
  50%,
  90%,
  99% {
    transform: translate3d(0, 0, 0);
  }

  41% {
    transform: translate3d(1px, 1px, 0);
  }

  45% {
    transform: translate3d(-1px, -1px, 0);
  }

  91% {
    transform: translate3d(1px, -1px, 0);
  }

  95% {
    transform: translate3d(-1px, 1px, 0);
  }
}
