@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');

body {
  font-size: 12px;
  font-family: 'Kodchasan', sans-serif;
}

.testbutton {
  font-family: 'Kodchasan', sans-serif;
}

