@import "./colors.scss";

/* Layout
-----------------------------------------------------------------------------*/

body {
  margin: 8px;
  color: $c_mainfg;
  background: $c_mainbg;
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 1024px;
  max-width: 1024px;
  height: 684px;
  display: grid;
  grid-template-columns: 1024px;
  grid-template-areas:
    "header "
    "tabs-container"
    "footer ";
}

.react-tabs-container {
  grid-area: tabs-container;
  width: 1024px;
  max-width: 1024px;
  // height: 600px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "tabs"
    "panel-main";
}

#tabs {
  height: 30px;
  grid-area: tabs;
  background-color: $c_tabsbg;
  padding: 0;
  // border-bottom: 2px solid $c_tabon;
}

.main-tab-panel {
  grid-area: "panel-main";
  // max-height: 600px;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 245px 559px 220px;
  grid-template-areas: "lsidebar content rsidebar";
}

.probe-tab-panel {
  background: #000;
  grid-area: "panel-main";
  // max-height: 600px;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 804px 220px;
  grid-template-areas: "content rsidebar";
}

/* Misc
-----------------------------------------------------------------------------*/

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.moneySymbol {
  color: $c_moneysymbol;
}

.knowledgeSymbol {
  color: $c_knowledgesymbol;
}

.prestigeSymbol {
  color: $c_prestigesymbol;
}

.multiplySymbol {
  // font-size: .5rem;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
  height: 60px;
  grid-area: header;
  background-color: $c_headerbg;
  padding: 5px;
}

.header-wrapper {
  height: 60px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.income {
  font-size: 1rem;
  /* width: 300px; */
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 30px 30px;
  float: left;
}
.income-header {
  grid-column: 1;
  padding: 0 10px;
  margin: auto 0 auto auto;
}
.income-money {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.income-earning {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.income-knowledge {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}
.income-learning {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}

.prestige {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 110px 110px 150px;
  grid-template-rows: 30px 30px;
  float: right;
}
.prestige-header {
  grid-column: 1;
  padding: 0 10px;
  margin: auto 0 auto auto;
}
.prestige-units {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.prestige-earning {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.prestige-boost {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}

/* tabs
-----------------------------------------------------------------------------*/

.tab-list {
  height: 26px;
  margin: 0;
  padding: 0 15px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $c_tabon;
}

.tab-list-item {
  display: inline-block;
  width: 10em;
  text-align: center;
  margin: 0 15px;
  font-weight: bold;
  background: $c_taboff;
  border: 1px solid $c_neonblue;
  border-bottom: none;
  bottom: -1px;
  padding: 2px 5px;
  cursor: pointer;
  color: $c_maindimfg;
}
.react-tabs__tab--selected {
  background: $c_tabon;
  color: $c_mainfg;
}

.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: grid;
}

/* footer
-----------------------------------------------------------------------------*/

#footer {
  height: 25px;
  grid-area: footer;
  background-color: $c_footerbg;
  padding: 5px;
  // border: 1px solid $c_mainfg;
  border-top: 1px solid $c_neonblue;
  opacity: 0.3;
  transition: opacity 1s ease 0.3s;
}
#footer:hover {
  opacity: 1;
  transition: opacity 0.5s ease 0.1s;
}

/* left sidebar
-----------------------------------------------------------------------------*/

.left-sidebar {
  background-color: $c_lsidebar;
  grid-area: lsidebar;
  padding: 10px;
  height: 528px;
  /* min-height: 528px; */
  display: block;
}

.ScrollbarsCustom-Content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-auto-rows: 80px;
  grid-row-gap: 20px;
  /* height: 460px; */
  height: 528px;
  // overflow-y: scroll;
}
.ScrollbarsCustom-Track {
  background: $c_scrollbg !important;
}
.ScrollbarsCustom-Thumb {
  // color: $c_neongreen;
  background: $c_scrollfg !important;
}

.upgrade {
  // border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  /* transform: rotate(5deg); */
}
.upgrade.money {
  border: 1px solid $c_moneyhover;
}
.upgrade.knowledge {
  border: 1px solid $c_knowledgehover;
}
.upgrade-buy {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: transparent;
  color: $c_mainfg;
  height: 100%;
  border-radius: 5px 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 2;
  // text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
  //   0 22px 30px rgba(0, 0, 0, 0.9), 2px 2px 2px rgba(206, 89, 55, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.upgrade-buy-progress {
  height: 100%;
  line-height: 40%;
  border-radius: 5px 5px 0 0;
  /* border: 2px solid red; */
  grid-column: 1/1;
  grid-row: 1/1;
}
.upgrade-buy-progress.money {
  background: $c_moneybg;
}
.upgrade-buy-progress.knowledge {
  background: $c_knowledgebg;
}
.upgrade-buy.canAfford.money:hover {
  // background-color: $c_moneyhover;
  background: repeating-linear-gradient(
    135deg,
    $c_moneybg,
    $c_moneybg 20px,
    $c_moneyhover 20px,
    $c_moneyhover 40px
  );
}
.upgrade-buy.canAfford.knowledge:hover {
  // background-color: $c_knowledgehover;
  background: repeating-linear-gradient(
    135deg,
    $c_knowledgebg,
    $c_knowledgebg 20px,
    $c_knowledgehover 20px,
    $c_knowledgehover 40px
  );
}
.upgrade-buy.money:active:enabled {
  background-color: $c_moneybuy !important;
  // transform: translateY(2px);
  box-shadow: inset 5px 5px 10px $c_moneybg;
}
.upgrade-buy.knowledge:active:enabled {
  background-color: $c_knowledgebuy !important;
  // transform: translateY(2px);
  box-shadow: inset 5px 5px 15px $c_knowledgebg;
}

.upgrade-buy-progress-pct {
  height: 100%;
  color: $c_mainfg;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.upgrade-buy-progress-pct.money {
  // background: $c_moneybuy;
  background: repeating-linear-gradient(
    135deg,
    $c_moneybg,
    $c_moneybg 20px,
    $c_moneybuy 20px,
    $c_moneybuy 40px
  );
  box-shadow: 1px 0 0 0 $c_moneyhover;
  background-size: 255px 100%;
}
.upgrade-buy-progress-pct.knowledge {
  // background: $c_knowledgebuy;
  background: repeating-linear-gradient(
    135deg,
    $c_knowledgebg,
    $c_knowledgebg 20px,
    $c_knowledgebuy 20px,
    $c_knowledgebuy 40px
  );
  box-shadow: 1px 0 0 0 $c_knowledgehover;
  background-size: 238px 100%;
}
.upgAnim {
  // -webkit-animation: ProgressAnim 20s infinite linear forwards;
  // -moz-animation: ProgressAnim 20s infinite linear forwards;
  // -o-animation: ProgressAnim 20s infinite linear forwards;
  // animation: ProgressAnim 2s infinite linear forwards;
}

.upgrade-buy-progress-pct span {
  display: inline-block;
  width: 100%;
  left: 0;
}

.upgrade-reward {
  // background: #444;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper.money.cannotAfford {
  color: $c_maindimfg;
}
.upgrade-cost-wrapper.knowledge.cannotAfford {
  color: $c_maindimfg;
}

@-webkit-keyframes ProgressAnim {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@-moz-keyframes ProgressAnim {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@-o-keyframes ProgressAnim {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
@keyframes ProgressAnim {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}

/* right sidebar
-----------------------------------------------------------------------------*/

#right-sidebar {
  grid-area: rsidebar;
  background-color: $c_rsidebar;
  padding: 10px;
  height: 528px;
  display: block;
  max-width: 220px;
}
.purchaseAmts {
  width: 200px;
  height: 35px;
  // max-width: 240px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: right;
}
// .purchase-amount.amt-selected {
//   color: $c_mainfg;
//   background: #404;
// }

.buyx-prefix {
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  padding: 0 10px 0 0;
  color: $c_selected;
  width: 30%;
  text-align: right;
}

.testbutton {
  background: $c_mainbg;
  color: $c_mainfg;
  border: 1px solid $c_selected;
  display: block;
}
.testbutton:hover {
  box-shadow: inset 0 0 0 3px $c_selected;
}

.prestige-button {
  margin: 20px 0;
}

/* Business content
-----------------------------------------------------------------------------*/

#content {
  background-color: $c_mainbg;
  grid-area: content;
  position: relative;
  width: 539px;
  /* min-height: 400px; */
  height: 528px;
  padding: 10px;
  margin: 0;
}

.container {
  margin: 5px 7px;
}

.business-container {
  width: 100%;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 240px 240px;
  grid-column-gap: 20px;
  grid-auto-rows: 80px;
  grid-row-gap: 20px;
}

.business {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45px 35px;
  border-radius: 5px;
}
.business.money {
  border: 1px solid $c_moneyhover;
}
.business.knowledge {
  border: 1px solid $c_knowledgehover;
}
.upgrade.knowledge {
  // box-shadow: 0 4px 5px 1px $c_neonblue;
}
.business,
.upgrade.money {
  // box-shadow: 0 4px 5px 1px $c_neongreen;
}

.business-buy {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  color: $c_mainfg;
  border-radius: 5px 0 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  grid-column: 1/3;
  grid-row: 1;
  z-index: 2;
  // height: 42px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.business-buy-progress.money {
  background: $c_moneybg;
}
.business-buy-progress.knowledge {
  background: $c_knowledgebg;
}
.business-buy.canAfford.money:hover {
  background-color: $c_moneyhover;
  // color: #000;
}
.business-buy.canAfford.knowledge:hover {
  background-color: $c_knowledgehover;
}
.business-buy:active:enabled {
  background-color: $c_moneybuy !important;
  box-shadow: inset 3px 3px 10px $c_moneybg;
}
.business-buy-progress {
  border-radius: 5px 0 0 0;
  /* border: 2px solid red; */
  grid-column: 1/3;
  grid-row: 1;
  // height: 42px;
  border-right: 1px solid $c_moneydivider;
}

.business-buy-progress-pct {
  height: 100%;
  color: $c_mainfg;
  text-align: center;
  border-radius: 5px 0 0 0;
}
.business-buy-progress-pct.money {
  background: $c_moneybuy;
}
.business-buy-progress-pct.knowledge {
  background: $c_knowledgebuy;
}

.business-buy-progress-pct span {
  display: inline-block;
  width: 100%;
  left: 0;
}
.business-buy.canAfford,
.upgrade-buy.canAfford,
.purchase-amount {
  cursor: pointer;
}
.business-buy.cannotAfford,
.upgrade-buy.cannotAfford {
  cursor: not-allowed;
}

.business-earn-progress {
  border-radius: 0;
  /* border: 2px solid red; */
  grid-column: 1/3;
  grid-row: 2;
  position: relative;
  height: 3px;
  background: $c_countdownbg;
  border-right: 1px solid $c_moneydivider;
}
.business-earn-progress-pct {
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
}
.business-earn-progress-pct span {
  height: 3px;
  // display: inline-block;
  display: block;
  width: 100%;
  background: $c_countdownfg;
  border-radius: 2px;
}

.buyMultiple {
  color: $c_mainfg;
  text-shadow: -1px -1px 0 $c_selected, 1px -1px 0 $c_selected,
    -1px 1px 0 $c_selected, 1px 1px 0 $c_selected;
}

.overlays-wrapper {
  grid-column: 1/3;
  grid-row: 1;
  height: 100%;
  z-index: 3;
  // outline: 1px solid blue;
  pointer-events: none;
  // text-align:center;
}
.overlay-text {
  font-size: 2rem;
  font-weight: bold;
  // color: red;
  // outline: 1px solid red;
  position: absolute;
  pointer-events: none;
  // display: inline-block;
}

.business-owned {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  height: 100%;
  border-radius: 0 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
  grid-row: 1;
}
.business-owned {
  background: $c_mainbg;
  color: $c_mainfg;
}

.cost-wrapper {
  padding: 0 5px 0 5px;
  border-radius: 0 0 0 5px;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
  // background: #020;
}
.cost-wrapper.canAfford {
  color: $c_mainfg;
}
.cost-wrapper.cannotAfford {
  color: $c_maindimfg;
}

.earning-wrapper {
  // background: #444;
  padding: 0 5px 0 5px;
  border-right: 1px solid $c_moneydivider;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}

.earning-pct-wrapper {
  // background: #444;
  border-radius: 0 0 5px 0;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Probe content
-----------------------------------------------------------------------------*/

#probecontent {
  // background-color: #000;
  background: radial-gradient(circle at bottom, rgb(5, 5, 70) 0, black 100%);
  grid-area: content;
  position: relative;
  // width: 794px;
  // width: 100%;
  /* min-height: 400px; */
  // height: 538px;
  // padding: 5px;
  width: 800px;
  height: 538px;
  margin: 5px auto 0 auto;
  overflow: hidden;
}

// .probecontainer {
//   width: 774px;
//   margin: 5px 10px;
//   // min-width: 780px;
//   // max-width: 790px;
// }

#portal-button {
  position: absolute;
  top: 600px;
  left: 300px;
}

/* bonuses 
-----------------------------------------------------------------------------*/

#announcements {
  position: relative;
  background: transparent;
  // border: 1px dashed red;
  width: 559px;
  height: 545px;
  top: -585px;
  left: 245px;
  z-index: 4;
  pointer-events: none;
  overflow: hidden;
}

.announce-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.announcement {
  border: 1px solid yellow;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  // background: $c_announcebg;
  background: repeating-linear-gradient(
    135deg,
    rgba(120, 120, 70, 0.6),
    rgba(120, 120, 70, 0.6) 20px,
    rgba(100, 109, 48, 0.6) 20px,
    rgba(100, 109, 48, 0.6) 40px
  );
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.announce-text {
  width: 100%;
  padding: 5px 15px;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  &::before {
    content: "👍  ";
  }
}

.announce-fadeout {
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s linear;
}
