@import "./colors.scss";

.Modal {
  color: $c_mainfg;
  position: absolute;
  width: 500px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border: 3px solid $c_selected;
  border-radius: 5px;
  padding: 15px;
}

.Modal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 10;
}

// position: 'absolute',
//       top: '40px',
//       left: '40px',
//       right: '40px',
//       bottom: '40px',
//       border: '1px solid #ccc',
//       background: '#fff',
//       overflow: 'auto',
//       WebkitOverflowScrolling: 'touch',
//       borderRadius: '4px',
//       outline: 'none',
//       padding: '20px'
