/*
Taken from https://codepen.io/giana/
at https://codepen.io/giana/pen/qmKNeE
and wedged into this game :/
thanks!
*/

@import "./colors.scss";

// Change the colors
$color1: $c_neongreen;
$color2: $c_neonblue;
.von {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #1a8a09;
}
.text-effect {
  overflow: hidden;
  width: 100%;
  text-align: center;
  // The blend modes mute the colors, so let's bump them up
  filter: contrast(110%) brightness(190%);
}

#text,
.text-effect,
.neon,
.gradient {
  height: 44px;
  top: -10px;
}

#text {
  position: absolute;
    top: 0;
    // left: -25px;
}
.neon {
  position: relative;

  // Only works on a black background, sorry
  background: black;

  // The actual text inside the div is superfluous, only data-text matters. The text is added so you can easily edit the preview
  color: transparent;
  // color: #000;

  &::before,
  &::after {
    // Add two copies of the text on their own layer
    content: attr(data-text);

    // White, so we can paint them later
    color: white;

    // And blur them to create the neon effect with the blend-mode below
    filter: blur(0.02em);
    -moz-filter: blur(0.02em);
    -webkit-filter: blur(0.02em);

    position: absolute;
    top: 0;
    left: 0;
    // pointer-events: none;
  }

  // Set the top copy to difference. This creates the knock-out effect with a bit of glow
  &::after {
    -webkit-mix-blend-mode: difference;
    -moz-mix-blend-mode: difference;
    -o-mix-blend-mode: difference;
    -ms-mix-blend-mode: difference;
    mix-blend-mode: difference;
  }
}

// Position our two effect layers
.gradient,
.spotlight {
  position: absolute;
  top: -10px;
  left: 0;
  bottom: -10px;
  right: 0;
  // pointer-events: none;
  z-index: 9;
}

// Add the colors
.gradient {
  // background: linear-gradient(45deg, $color1, $color2);
  background: linear-gradient($color1, $color2);

  // Multiply mode will paint only the white text
  mix-blend-mode: multiply;
}

.text-effect:hover .spotlight {
  animation: light 5s infinite linear;

  // These are the lights, color-dodge needs a black bg for optimum effect
  background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%,
    radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%;
  left: -100%;

  // Color dodge gives the lights that shimmer effect
  mix-blend-mode: color-dodge;
}

// .text-effect:hover .spotlight {
//   animation: light 30s infinite linear;
// }

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

//=== Pen styling, ignore

// Style text
.neon {
  font: 700 40px 'Kodchasan', sans-serif;
  // text-transform: uppercase;
  margin: 0;

  &:focus {
    outline: none;
    border: 1px dotted white;
    // border: 1px solid white;
  }
}

// Center everything
.text-effect {
  background: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
