@import "./colors.scss";

#tooltip {
    position: absolute;
    bottom: 10px;
    height: 98px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid $c_selected;
}

#tooltip #tooltip-text {
    padding: 5px;
}