/* Colors
-----------------------------------------------------------------------------*/
$c_lsidebar: #000;
$c_rsidebar: #000;
$c_mainbg: #000;
$c_headerbg: #000;
$c_footerbg: #000;
$c_tabsbg: #000;
/* money */
$c_moneysymbol: #29b516;
$c_moneybg: #082A02;
$c_moneybuy: #1A8A09;
$c_moneyhover: #29b516;
/* */
$c_moneydivider: #1A8A09;
/*  knowledge */
$c_knowledgesymbol: #b55b16;
$c_knowledgebg: #030D2F;
$c_knowledgebuy: #09298F;
$c_knowledgehover: #163bb5;
/* prestige */ 
$c_prestigesymbol: #b51629;
/* tabs */
$c_taboff: #0f0f56;
$c_tabon: #4d4dff;

$c_mywhite: #ddd;
$c_mydimwhite: #888;
$c_neonblue: #4d4dff;
$c_neongreen: #49fb35;

$c_selected: #b51629;