/* Misc
-----------------------------------------------------------------------------*/
body {
  font: 0.8rem "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 8px;
  color: #ddd;
  background: #000;
}

#wrapper {
  width: 1024px;
  display: grid;
  grid-template-columns: 220px 524px 220px;
  grid-template-areas: "header header header " "lsidebar content rsidebar" "footer footer footer ";
}

/* Misc
-----------------------------------------------------------------------------*/

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.moneySymbol {
  color: green;
}

.knowledgeSymbol {
  color: orange;
}

.prestigeSymbol {
  color: purple;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
  height: 60px;
  grid-area: header;
  background-color: #222222;
  padding: 5px;
}

.header-wrapper {
  height: 60px;
}

.income {
  font-size: 1.1rem;
  /* width: 300px; */
  display: grid;
  grid-template-columns: 120px 110px 130px;
  grid-template-rows: 30px 30px;
  float: left;
}
.income-header {
  grid-column: 1;
  padding: 0 5px;
  margin: auto 0 auto auto;
}
.income-money {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.income-earning {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.income-knowledge {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}
.income-learning {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}

.prestige {
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 120px 110px 130px;
  grid-template-rows: 30px 30px;
}
.prestige-header {
  grid-column: 1;
  padding: 0 5px;
  margin: auto 0 auto auto;
}
.prestige-units {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.prestige-earning {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
.prestige-boost {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}


/* footer
-----------------------------------------------------------------------------*/

#footer {
  height: 50px;
  grid-area: footer;
  background-color: #222222;
  padding: 5px;
}

/* left sidebar
-----------------------------------------------------------------------------*/

/* #left-sidebar {
  background-color: #04395e;
  grid-area: lsidebar;
  padding: 10px;
  height: 628px;
} */

.left-sidebar {
  background-color: #04395e;
  grid-area: lsidebar;
  padding: 10px;
  height: 528px;
}

.upgrade-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 200px);
  grid-auto-rows: 80px;
  grid-row-gap: 20px;
}
.upgrade {
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  /* transform: rotate(5deg); */
}
.upgrade-buy {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: transparent;
  color: #ddd;
  height: 100%;
  border-radius: 5px 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  width: 100%;
  display: inline-block;
  align-items: center;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 2;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 22px 30px rgba(0, 0, 0, 0.9),
    2px 2px 2px rgba(206, 89, 55, 0);
}
.upgrade-buy-progress {
  height: 100%;
  line-height: 40%;
  border-radius: 5px 0 0 0;
  /* border: 2px solid red; */
  grid-column: 1/1;
  grid-row: 1/1;
}
.upgrade-buy-progress.money {
  background: #020;
}
.upgrade-buy-progress.knowledge {
  background: #442;
}
.upgrade-buy.canAfford.money:hover {
  background-color: #090;
}
.upgrade-buy.canAfford.knowledge:hover {
  background-color: #aa2;
}
.upgrade-buy:active:enabled {
  background-color: #050 !important;
  transform: translateY(2px);
}

.upgrade-buy-progress-pct {
  height: 100%;
  color: #ddd;
  text-align: center;
  border-radius: 5px 0 0 0;
}
.upgrade-buy-progress-pct.money {
  background: #050;
}
.upgrade-buy-progress-pct.knowledge {
  background: #772;
}

.upgrade-buy-progress-pct span {
  display: inline-block;
  width: 100%;
  left: 0;
}

.upgrade-reward {
  background: #444;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper.canAfford {
  background: #020;
}
.upgrade-cost-wrapper.cannotAfford {
  background: #020;
  color: #888;
}

/* right sidebar
-----------------------------------------------------------------------------*/

#right-sidebar {
  grid-area: rsidebar;
  background-color: #04395e;
  padding: 10px;
  height: 528px;
}

.purchase-amount.amt-selected {
  color: #ddd;
  background: #404;
}

/* Main content
-----------------------------------------------------------------------------*/

#content {
  background-color: #70a288;
  grid-area: content;
  position: relative;
  min-width: 300px;
  /* min-height: 400px; */
  height: 538px;
  padding: 5px;
}

.container {
  margin: 5px 7px;
}

.business-container {
  width: 100%;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 240px 240px;
  grid-column-gap: 20px;
  grid-auto-rows: 80px;
  grid-row-gap: 20px;
}

.business {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60% 40%;
}

.business,
.upgrade {
  box-shadow: 0 8px 6px -6px black;
}

.business-buy {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  color: #ddd;
  border-radius: 5px 0 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  grid-column: 1/3;
  grid-row: 1;
  z-index: 2;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 22px 30px rgba(0, 0, 0, 0.9),
    2px 2px 2px rgba(206, 89, 55, 0);
}
.business-buy-progress.money {
  background: #020;
}
.business-buy-progress.knowledge {
  background: #442;
}
.business-buy.canAfford.money:hover {
  background-color: #090;
}
.business-buy.canAfford.knowledge:hover {
  background-color: #aa2;
}
.business-buy:active:enabled {
  background-color: #050 !important;
  transform: translateY(2px);
}
.business-buy-progress {
  border-radius: 5px 0 0 0;
  /* border: 2px solid red; */
  grid-column: 1/3;
  grid-row: 1;
}

.business-buy-progress-pct {
  height: 100%;
  background: #050;
  color: #ddd;
  text-align: center;
  border-radius: 5px 0 0 0;
}
.upgrade-buy-progress-pct.money {
  background: #050;
}
.upgrade-buy-progress-pct.knowledge {
  background: #772;
}

.business-buy-progress-pct span {
  display: inline-block;
  width: 100%;
  left: 0;
}
.business-buy.canAfford,
.upgrade-buy.canAfford,
.purchase-amount {
  cursor: pointer;
}
.business-buy.cannotAfford,
.upgrade-buy.cannotAfford {
  cursor: not-allowed;
}

.business-owned {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background: #ddd;
  color: #000;
  height: 100%;
  border-radius: 0 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3;
  grid-row: 1;
}

.cost-wrapper {
  padding: 0 5px 0 5px;
  border-radius: 0 0 0 5px;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}
.cost-wrapper.canAfford {
  background: #020;
}
.cost-wrapper.cannotAfford {
  background: #020;
  color: #888;
}

.earning-wrapper {
  background: #444;
  padding: 0 5px 0 5px;

  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: left;
}

.earning-pct-wrapper {
  background: #444;
  border-left: 1px solid black;
  border-radius: 0 0 5px 0;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
