/* Misc
-----------------------------------------------------------------------------*/
body {
  font: 15px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
  color: #ccc;
  background: #000;
}

/* Misc
-----------------------------------------------------------------------------*/

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.moneySymbol {
  color: green;
}

.knowledgeSymbol {
  color: orange;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
  height: 45px;
  grid-area: header;
  background-color: #111;
  padding: 5px;
}

.income {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px;
  align-items: top;
}
.income-money {
  grid-column: 1;
  grid-row: 1;
}
.income-knowledge {
  grid-column: 2;
  grid-row: 1;
}

/* footer
-----------------------------------------------------------------------------*/

#footer {
  height: 50px;
  grid-area: footer;
  background-color: #4f5f76;
  padding: 5px;
}

/* left sidebar
-----------------------------------------------------------------------------*/

#left-sidebar {
  background-color: #303;
  grid-area: lsidebar;
  padding: 10px;
}

.business-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 60px;
  grid-row-gap: 20px;
}

.button-wrapper {
  width: 100%;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: span 2;
}

.business-buy {
  background: #044;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #ddd;
  height: 35px;
  border-radius: 5px 0 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  width: 100%;
}

.cannotAfford {
  background: #020;
  color: #555;
}
.business-buy.canAfford {
  background: #050;
}
.business-buy.canAfford:hover {
  background-color: #090;
}
.business-buy:active {
  background-color: #050 !important;
  transform: translateY(2px);
}

.business-owned {
  text-decoration: none;
  background: #ddd;
  color: #000;
  height: 100%;
  border-radius: 0 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cost-wrapper {
  width: 50%;
  float: left;
  padding: 5px 0 0 0;
  border-radius: 0 0 0 5px;
}
.cost-wrapper.canAfford {
  background: #020;
}
.cost-wrapper.cannotAfford {
  background: #000;
}

.earning-wrapper {
  width: 50%;
  float: right;
  padding: 5px 0 0 0;
  background: #444;
  border-radius: 0 0 5px 0;
}

/* right sidebar
-----------------------------------------------------------------------------*/

#right-sidebar {
  grid-area: rsidebar;
  background-color: #0f2862;
  padding: 10px;
}

.purchase-amount.amt-selected {
  color: #ccc;
  background: #404;
}

/* Main content
-----------------------------------------------------------------------------*/

#content {
  background-color: #222;
  grid-area: content;
  position: relative;
  min-width: 500px;
  min-height: 400px;
  padding: 5px;
}

#wrapper {
  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-areas: "header header header " "lsidebar content rsidebar" "footer footer footer ";
}

.upgrade-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 80px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.upgrade {
  border: 1px solid black;
  border-radius: 5px;
}
.upgrade-buy {
  background: #044;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  color: #ddd;
  height: 40%;
  border-radius: 5px 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-buy.canAfford {
  background: #050;
}
.upgrade-buy.canAfford:hover {
  background-color: #090;
}
.upgrade-buy:active {
  background-color: #050 !important;
  transform: translateY(2px);
}
.upgrade-reward {
  background: #333;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper {
  width: 100%;
  height: 30%;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper.canAfford {
  background: #020;
}
.upgrade-cost-wrapper.cannotAfford {
  background: #000;
}
