/* Misc
-----------------------------------------------------------------------------*/
body {
  font: 15px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
  color: #ddd;
  background: #000;
}

#wrapper {
  display: grid;
  grid-template-columns: 250px 400px 250px;
  grid-template-areas: "header header header " "lsidebar content rsidebar" "footer footer footer ";
}

/* Misc
-----------------------------------------------------------------------------*/

:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

.moneySymbol {
  color: green;
}

.knowledgeSymbol {
  color: orange;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
  height: 45px;
  grid-area: header;
  background-color: #222222;
  padding: 5px;
}

.income {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px;
  align-items: top;
}
.income-money {
  grid-column: 1;
  grid-row: 1;
}
.income-knowledge {
  grid-column: 2;
  grid-row: 1;
}

/* footer
-----------------------------------------------------------------------------*/

#footer {
  height: 50px;
  grid-area: footer;
  background-color: #222222;
  padding: 5px;
}

/* left sidebar
-----------------------------------------------------------------------------*/

#left-sidebar {
  background-color: #04395e;
  grid-area: lsidebar;
  padding: 10px;
}

.business-container {
  width: 100%;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 60px;
  grid-row-gap: 20px;
}

.business,
.upgrade {
  box-shadow: 0 8px 6px -6px black;
}

.button-wrapper {
  width: 100%;
  /* grid-column: span 2; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: span 2;
}

.business-buy {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: transparent;
  color: #ddd;
  height: 35px;
  border-radius: 5px 0 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  width: 100%;
  grid-column: 1/1;
  grid-row: 1/1;
  z-index: 2;
}
.business-buy-progress {
  height: 35px;
  line-height: 35px;
  border-radius: 5px 0 0 0;
  /* border: 2px solid red; */
  grid-column: 1/1;
  grid-row: 1/1;
  position: relative;
  background: #020;
}
.business-buy-progress-pct {
  height: 100%;
  background: #050;
  color: #ddd;
  text-align: center;
  border-radius: 5px 0 0 0;
}
.business-buy-progress-pct span {
  display: inline-block;
  width: 100%;
  left: 0;
}
.business-buy.canAfford,
.upgrade-buy.canAfford,
.purchase-amount {
  cursor: pointer;
}
.business-buy.cannotAfford,
.upgrade-buy.cannotAfford {
  cursor: not-allowed;
}
.business-buy.canAfford:hover {
  background-color: #090;
}
.business-buy:active:enabled {
  background-color: #050 !important;
  transform: translateY(2px);
}

.business-owned {
  text-decoration: none;
  background: #ddd;
  color: #000;
  height: 100%;
  border-radius: 0 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cost-wrapper {
  height: 20px;
  width: 50%;
  float: left;
  padding: 5px 0 0 0;
  border-radius: 0 0 0 5px;
}
.cost-wrapper.canAfford {
  background: #020;
}
.cost-wrapper.cannotAfford {
  background: #020;
  color: #888;
}

.earning-wrapper {
  height: 20px;
  width: 50%;
  float: right;
  padding: 5px 0 0 0;
  background: #444;
  border-radius: 0 0 5px 0;
}

/* right sidebar
-----------------------------------------------------------------------------*/

#right-sidebar {
  grid-area: rsidebar;
  background-color: #04395e;
  padding: 10px;
}

.purchase-amount.amt-selected {
  color: #ddd;
  background: #404;
}

/* Main content
-----------------------------------------------------------------------------*/

#content {
  background-color: #70a288;
  grid-area: content;
  position: relative;
  min-width: 300px;
  min-height: 400px;
  padding: 5px;
}

.container {
  margin: 5px 10px;
}

.upgrade-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 180px);
  grid-auto-rows: 80px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.upgrade {
  border: 1px solid black;
  border-radius: 5px;
}
.upgrade-buy {
  text-align: center;
  text-decoration: none;
  color: #ddd;
  height: 40%;
  border-radius: 5px 5px 0 0;
  padding: 0px;
  border: 0px;
  margin: 0px;
  outline: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-buy.cannotAfford {
  background: #020;
  color: #888;
}
.upgrade-buy.canAfford {
  background: #050;
}
.upgrade-buy.canAfford:hover {
  background-color: #090;
}
.upgrade-buy:active:enabled {
  background-color: #050 !important;
  transform: translateY(2px);
}
.upgrade-reward {
  background: #444;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper {
  width: 100%;
  height: 30%;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upgrade-cost-wrapper.canAfford {
  background: #020;
}
.upgrade-cost-wrapper.cannotAfford {
  background: #020;
  color: #888;
}
